body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: radial-gradient(circle at top right, #86cde6 0%, #5cbbdd 50%);
  perspective: 1400px;
}
body:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 100%;
  opacity: 0.5;
  box-shadow: 50px 10px 0 -10px #fff, -50px 5px 0 -5px #fff, calc(550px + 50vw) -40px 0 -10px #fff, calc(500px + 50vw) -50px 0 0px #fff, calc(450px + 50vw) -40px 0 -10px #fff, calc(550px + 75vw) -40px 0 0px #fff, calc(500px + 75vw) -50px 0 10px #fff, calc(450px + 75vw) -40px 0 0px #fff, calc(520px + 25vw) 60px 0 -20px #fff, calc(500px + 25vw) 50px 0 -15px #fff, calc(480px + 25vw) 60px 0 -20px #fff, calc(540px + 25vw) 65px 0 -25px #fff, calc(50px + 150vw) 40px 0 -10px #fff, calc(-50px + 150vw) 35px 0 -5px #fff, 150vw 30px 0 0 #fff, calc(50px + 200vw) 10px 0 -10px #fff, calc(-50px + 200vw) 5px 0 -5px #fff, 200vw 0 0 0 #fff;
  -webkit-animation: sky 2s linear infinite;
          animation: sky 2s linear infinite;
}
@-webkit-keyframes sky {
  to {
    transform: translateX(-200vw);
  }
}
@keyframes sky {
  to {
    transform: translateX(-200vw);
  }
}
body div {
  transform-style: preserve-3d;
  position: relative;
  transform: translate(100px, 0px) scale(0.5);
  z-index: 9;
  -webkit-animation: flying 8s ease-in-out infinite alternate;
          animation: flying 8s ease-in-out infinite alternate;
  width: 600px;
  height: 600px;
  background: radial-gradient(ellipse at center, #ffda4a 4px, rgba(255, 255, 255, 0.001) 0px) 438px 148px/30px 29px no-repeat, linear-gradient(to right, #ffda4a, #ffda4a) 438px 162px/20px 6px no-repeat, radial-gradient(ellipse at center, #efe1c4 11px, rgba(255, 255, 255, 0.001) 0px) 392px 193px/84px 78px no-repeat, radial-gradient(ellipse at center, #efe1c4 7px, rgba(255, 255, 255, 0.001) 0px) 434px 225px/34px 43px no-repeat, linear-gradient(-40deg, rgba(255, 255, 255, 0.001) 40%, #efe1c4 40%, #efe1c4 60%, rgba(255, 255, 255, 0.001) 60%) 433px 225px/18px 67px no-repeat, linear-gradient(-40deg, rgba(255, 255, 255, 0.001) 40%, #da3743 40%, #da3743 60%, rgba(255, 255, 255, 0.001) 60%) 422px 234px/18px 67px no-repeat, radial-gradient(ellipse at center, #da3743 8px, rgba(255, 255, 255, 0.001) 0px) 383px 231px/82px 87px no-repeat, radial-gradient(ellipse at center, #da3743 6px, rgba(255, 255, 255, 0.001) 0px) 429px 274px/18px 19px no-repeat, linear-gradient(30deg, rgba(255, 255, 255, 0.001) 40%, #da3743 40%, #da3743 60%, rgba(255, 255, 255, 0.001) 60%) 420px 249px/18px 59px no-repeat, linear-gradient(to right, #ffda4a, #ffda4a) 408px 222px/25px 6px no-repeat, linear-gradient(40deg, rgba(255, 255, 255, 0.001) 40%, #efe1c4 40%, #efe1c4 60%, rgba(255, 255, 255, 0.001) 60%) 433px 190px/18px 97px no-repeat, linear-gradient(25deg, rgba(255, 255, 255, 0.001) 40%, #efe1c4 40%, #efe1c4 55%, rgba(255, 255, 255, 0.001) 55%) 438px 179px/42px 45px no-repeat, radial-gradient(ellipse at center, #efe1c4 9px, rgba(255, 255, 255, 0.001) 0px) 412px 168px/41px 48px no-repeat, radial-gradient(ellipse at center, #efe1c4 5px, rgba(255, 255, 255, 0.001) 0px) 460px 184px/36px 54px no-repeat, radial-gradient(ellipse at center, #efe1c4 7px, rgba(255, 255, 255, 0.001) 0px) 411px 112px/83px 124px no-repeat, radial-gradient(ellipse at center, #da3743 10px, rgba(255, 255, 255, 0.001) 0px) 410px 175px/50px 49px no-repeat, linear-gradient(110deg, rgba(255, 255, 255, 0.001) 40%, #da3743 40%, #da3743 60%, rgba(255, 255, 255, 0.001) 60%) 375px 191px/103px 37px no-repeat, radial-gradient(ellipse at center, #1155cb 16px, rgba(255, 255, 255, 0.001) 0px) 372px 192px/103px 78px no-repeat, linear-gradient(40deg, rgba(255, 255, 255, 0.001) 40%, #e4cd9c 40%, #e4cd9c 60%, rgba(255, 255, 255, 0.001) 60%) 422px 194px/22px 97px no-repeat, radial-gradient(ellipse at center, #222 11px, rgba(255, 255, 255, 0.001) 0px) 409px 115px/78px 114px no-repeat, radial-gradient(ellipse at center, #222 11px, rgba(255, 255, 255, 0.001) 0px) 391px 117px/102px 122px no-repeat, radial-gradient(ellipse at center, #222 11px, rgba(255, 255, 255, 0.001) 0px) 391px 117px/102px 122px no-repeat, radial-gradient(ellipse at center, #222 5px, rgba(255, 255, 255, 0.001) 0px) 381px 118px/102px 129px no-repeat, radial-gradient(ellipse at center, #222 4px, rgba(255, 255, 255, 0.001) 0px) 437px 148px/30px 77px no-repeat, radial-gradient(ellipse at center, #a2a2a2 2px, rgba(255, 255, 255, 0.001) 2px, rgba(255, 255, 255, 0.001) 7px, #a2a2a2 7px, #a2a2a2 10px, rgba(255, 255, 255, 0.001) 0px) 460px 190px/26px 54px no-repeat, radial-gradient(ellipse at center, #da3743 10px, rgba(255, 255, 255, 0.001) 0px) 420px 245px/60px 39px no-repeat, linear-gradient(25deg, rgba(255, 255, 255, 0.001) 40%, #e4cd9c 40%, #e4cd9c 55%, rgba(255, 255, 255, 0.001) 55%) 425px 185px/42px 45px no-repeat, linear-gradient(to right, #888888, rgba(255, 255, 255, 0.001) 75%) 473px 214.75px/69.5px 4.5px no-repeat;
}
@-webkit-keyframes flying {
  20% {
    transform: translate(150px, 20px) scale(0.45) rotateX(-20deg);
  }
  66% {
    transform: translate(50px, -10px) scale(0.55) rotateX(7.5deg);
  }
  100% {
    transform: translate(150px, 0px) scale(0.55) rotateX(0deg);
  }
}
@keyframes flying {
  20% {
    transform: translate(150px, 20px) scale(0.45) rotateX(-20deg);
  }
  66% {
    transform: translate(50px, -10px) scale(0.55) rotateX(7.5deg);
  }
  100% {
    transform: translate(150px, 0px) scale(0.55) rotateX(0deg);
  }
}
body div:before {
  content: "";
  position: absolute;
  width: 150vw;
  height: calc(100% - 60px);
  top: -20px;
  left: calc(-150vw - 50px);
  opacity: 0.75;
  background: repeating-linear-gradient(to bottom, #fff 0.5px, rgba(255, 255, 255, 0.001) 0.5px, rgba(255, 255, 255, 0.001) 20px, #fff 20px, #fff 20.5px);
  -webkit-animation: fly 0.25s linear infinite;
          animation: fly 0.25s linear infinite;
  -webkit-mask: repeating-linear-gradient(to right, #000 10px, rgba(255, 255, 255, 0.001) 10px, rgba(255, 255, 255, 0.001) 40px, #000 40px, #000 50px);
          mask: repeating-linear-gradient(to right, #000 10px, rgba(255, 255, 255, 0.001) 10px, rgba(255, 255, 255, 0.001) 40px, #000 40px, #000 50px);
  transform: translateZ(-10px) skewX(-35deg);
  z-index: -1;
}
@-webkit-keyframes fly {
  from {
    -webkit-mask-position: 0px 50%;
            mask-position: 0px 50%;
  }
  to {
    -webkit-mask-position: -100px 50%;
            mask-position: -100px 50%;
  }
}
@keyframes fly {
  from {
    -webkit-mask-position: 0px 50%;
            mask-position: 0px 50%;
  }
  to {
    -webkit-mask-position: -100px 50%;
            mask-position: -100px 50%;
  }
}
body div:after {
  filter: drop-shadow(1px 0 0 #355584) drop-shadow(0px 1px 0 #355584) drop-shadow(-1px 0px 0 #355584) drop-shadow(0px -1px 0 #355584);
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(to bottom, #355584, #355584) 700px 486px/255px 1px no-repeat, linear-gradient(to bottom, #355584, #355584) 700px 430px/1px 50px no-repeat, linear-gradient(-55deg, rgba(255, 255, 255, 0.001) 45%, #cdd9eb 10%, #cdd9eb 60%, rgba(255, 255, 255, 0.001) 50%) 54.75px 512.25px/645px 305px no-repeat, linear-gradient(-65deg, rgba(255, 255, 255, 0.001) 75%, #cdd9eb 10%, #cdd9eb 100%, rgba(255, 255, 255, 0.001) 50%) 20px 412.25px/355px 75px no-repeat, linear-gradient(-45deg, rgba(255, 255, 255, 0.001) 45%, #cdd9eb 10%, #cdd9eb 60%, rgba(255, 255, 255, 0.001) 50%) 149px 512.25px/645px 305px no-repeat, linear-gradient(45deg, #a9bddc 50%, rgba(255, 255, 255, 0.001) 50%) -71.25px 282.25px/496.75px 246px no-repeat, radial-gradient(circle at center, #a9bddc 25%, rgba(255, 255, 255, 0.001) 25%) -191.5px 246px/590.5px 562px no-repeat, radial-gradient(ellipse at top left, #a9bddc 50%, rgba(255, 255, 255, 0.001) 50%) 780.25px 578.25px/465px 71px no-repeat, radial-gradient(ellipse at bottom left, #a9bddc 50%, rgba(255, 255, 255, 0.001) 50%) 843.5px 435px/373.75px 144px no-repeat, radial-gradient(ellipse at bottom left, #a9bddc 50%, rgba(255, 255, 255, 0.001) 50%) 780.25px 362.5px/305px 220.25px no-repeat, linear-gradient(to right, #a9bddc, #a9bddc) 80px 428px/730px 200px no-repeat, linear-gradient(60deg, rgba(255, 255, 255, 0.001) 45%, #85a2cd 10%, #85a2cd 60%, rgba(255, 255, 255, 0.001) 50%) 197.75px 282.25px/499px 246px no-repeat, linear-gradient(45deg, rgba(255, 255, 255, 0.001) 45%, #85a2cd 10%, #85a2cd 60%, rgba(255, 255, 255, 0.001) 50%) 263.5px 282.25px/499px 246px no-repeat, linear-gradient(60deg, rgba(255, 255, 255, 0.001) 45%, #85a2cd 10%, #85a2cd 60%, rgba(255, 255, 255, 0.001) 50%) 27.75px 302.25px/199px 246px no-repeat, linear-gradient(45deg, rgba(255, 255, 255, 0.001) 45%, #85a2cd 10%, #85a2cd 60%, rgba(255, 255, 255, 0.001) 50%) 263.5px 282.25px/499px 246px no-repeat;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 50px), -50%) translateZ(1px);
  opacity: 0.25;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */